@model Laba1.Genres

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genres</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GenName)
        </dd>
    </dl>
</div>
@if (User.IsInRole("admin") || User.IsInRole("moder"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.GenId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
