@{
    ViewBag.Title = "Error";
}

<h2>@ViewBag.Title</h2>

<h4>
    <b>Ooops! An error occured. :( <br /></b>
</h4>
<h3>Please, check the data in your Excel file! <br /></h3>
<p>Error message: @ViewBag.Error</p>