@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site!</h1>
    <h3>Here you can  enjoy the world of music!</h3>
    <p />
    <p>Look through artists, groups, their songs and albums.</p>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <h3><b>Log in</b> to get access to our huge musical database!</h3>
    <a asp-controller="Account" asp-action="Login">Sign in</a>
    <br />
    <a />
    <a asp-controller="Account" asp-action="Register">Registration</a> <br /><br />
}

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/qB8j1LnkXRM?start=7"
        frameborder="0" allow="accelerometer; autoplay; 
        encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe> 