@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Laba1.</p>
<p>Prepared by a student of the 2nd course, <br />
group K-26, <br />
faculty of computer sciences and cybernetics, <br />
Dudar Olya <br />
2020, Kyiv</p> <br />
<p>All rights reserved.</p>